<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 

    <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application', 'workouts' %>
  </head>

  <body>
    <section class="section">
		<div class="container">
			<h1 class='subtitle'>Workout Tracker</h1>
		</div>
		<div class="column">
			Rails Links:
			<%= link_to "Workouts", workouts_path %> |
			<%= link_to "NewWorkout", new_workout_path %>
			<hr>

			<%= yield %>

			<h1 class='subtitle'>Workout Tracker</h1>
			<%= link_to "Workouts", workouts_path %> |
			<%= link_to "NewWorkout", new_workout_path, class: 'ajax-new-workout' %>
			<hr>
			<div id="flash_messages" class="flash_style">
				<% flash.each do |key, value| %>
				<%= content_tag(:div, value, :class => "flash #{key}") %>
				<% end %>
			</div>
			<br>

			<button id='workouts-data'>Get Workouts</button>
			<div id='ajax-workouts'>[workouts...]</div>
			<br>
			<br>

			<button id='ajax-new-workout'>New Workout</button>
			<div id="new-workout-form-div">[form]</div>

	</section>
</body>


    <%# <header> %>
    <%# <h1 style="text-align: center"><%= link_to "All Workouts", workouts_path %>
    <%# </header> %>
    <%# <%= yield %> 
  <%# </body> %>
</html>
