<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 

    <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application', 'workouts' %>
  </head>

  <body>
    <header>
    <h1 style="text-align: center"><%= link_to "All Workouts", workouts_path %></h1>
    </header>
    <%= yield %>
  </body>
</html>
